<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.example.ajax.mapper.AjaxMapper">
	<insert id="insert">
		INSERT INTO MEMBERS VALUES(#{mbrId},#{mbrName},#{mbrPhone},#{mbrAge})
	</insert>
	<update id="update">
		UPDATE MEMBERS 
		<set>
			<if test="mbrName != null">mbr_name = #{mbrName},</if>
			<if test="mbrPhone != null">mbr_phone = #{mbrPhone},</if>
			<if test="mbrAge != null">mbr_age = #{mbrAge},</if>
		</set>
		WHERE MBR_ID = #{mbrId}
	</update>
	<delete id="delete">
		DELETE MEMBERS WHERE MBR_ID = #{mbrId}
	</delete>
	<select id="list">
		SELECT * FROM MEMBERS ORDER BY MBR_ID
	</select>
</mapper>